@model IEnumerable<Exercicio1.Models.Emprestimos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emprestado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevisaoDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.NomeLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevisaoDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devolucao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmprestimos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmprestimos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmprestimos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="ExportCSV">Export to CSV</a>
</div>
<div>
    <a asp-action="ExportXML">Export to XML</a>
</div>
